<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="../user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../user/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Topbar Start -->
    <div class="container-fluid">
      <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
          <a href="/" class="text-decoration-none">
            <img src="../user/img/logo.png" width="100" />
          </a>
        </div>
        <!-- <div class="col-lg-6 col-6 text-left">
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for products"
              />
              <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </form>
        </div> -->
        <!-- <div class="col-lg-3 col-6 text-right">
        
          <a href="/login" class="nav-item nav-link">Login</a>
          <a href="/register" class="nav-item nav-link">Register</a>
          <a href="" class="btn border">
            <i class="fas fa-heart text-primary"></i>
            <span class="badge">0</span>
          </a>
          <a href="" class="btn border">
            <i class="fas fa-shopping-cart text-primary"></i>
            <span class="badge">0</span>
          </a>
        </div> -->
      </div>
    </div>
    <p class="text-center" style="color:brown;" id="centerP">You have successfully verified OTP. Please proceed to change your password.</p>
    <h5 style="padding-left:40%">Update your Password</h5>
    <div class="w-25" style="margin-left: 40%">
    
    
    <p></p>
      <form action="/updatePassword" method="post">
        <!-- New Password Input -->
        <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">New Password<sup style="color: red;">*</sup></label>
        <input type="password" id="Password1" class="form-control" name="Password1" 
        value="" placeholder="Enter new password" onkeyup="validatePassword1()">
        <img src="../admin/assets/imgs/theme/eye-close.png" id="eye">
        <span id="pass1-error"></span>
        <br><br>
        <label class="form-label" for="form2Example1">Confirm Password<sup style="color: red;">*</sup></label>
          <input
            type="password"
            id="Password2"
            class="form-control"
            name="Password2" placeholder="Re enter the password"
             onkeyup="validatePassword2()"
          />
          <img src="../admin/assets/imgs/theme/eye-close.png" id="eye1">
          <span id="pass2-error"></span>

        </div>
        <span id="submitOTP-error"></span>
        <br>
        <%#if(fpOTP){%>
          <p id="invalidotp" style="color: red; text-align: center;"><%#=fpOTP %></p>
        <%#}%>
        
        <!-- Submit button -->
        <button onclick="return validateForm()" type="submit" class="btn btn-primary btn-block mb-4">
          Update Password
        </button>
<br>

      </form>
      <!-- <div><button>Resend OTP</button>
<p>in 1min</p></div> -->
    </div>
    <!-- Footer Start -->
    <br><br><br><br>
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
          <p class="mb-md-0 text-center text-md-left text-dark">
            &copy;
            <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
            All Rights Reserved. Designed by
            <a
              class="text-dark font-weight-semi-bold"
              href="https://htmlcodex.com"
              >HTML Codex</a
            ><br />
            Distributed By
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
          </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
          <img class="img-fluid" src="../user/img/payments.png" alt="" />
        </div>
      </div>
    
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top">
      <i class="fa fa-angle-double-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../user/lib/easing/easing.min.js"></script>
    <script src="../user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../user/mail/jqBootstrapValidation.min.js"></script>
    <script src="../user/mail/contact.js"></script>

    <!-- Template Javascript -->
    <!-- <script src="../user/js/main.js"></script> -->
    <script>

    /*   SET TIMEOUT FOR MESSAGE SHOWN    */
    setTimeout(()=>{
      let fade =document.getElementById("centerP");
      fade.style.display="none";
    },5000)
 
    /*    PASSWORD VALIDATION     */
    var pass1Error = document.getElementById("pass1-error");
    var pass2Error = document.getElementById("pass2-error");
    var submitOTPError = document.getElementById("submitOTP-error");
    // var invalidOTP = document.getElementById("invalidotp");
    //     invalidOTP.style.display='block';
    //     setTimeout(()=>{
    //       invalidOTP.style.display="none"
    //     },2000)

    function validatePassword1() {
      var pass1 = document.getElementById("Password1").value;
      if (pass1.length == 0) {
        pass1Error.style.color = "red";
        pass1Error.innerHTML = "Please enter the password";
        return false;
      }
      else if (!pass1.match(/^(?=.*?[0-9])(?=.*?[a-z])(?=(.*?[^0-9A-Za-z]){2}).{8,32}$/)) {
        pass1Error.style.color = "red";
         pass1Error.innerHTML = "Minimum 8 characters (alphanumeric + 2 special characters).";
         return false;
  }
      pass1Error.innerHTML = "valid";

      if ((pass1Error.innerHTML == "valid")) {
    pass1Error.style.color = "green";
  } else {
    pass1Error.style.color = "red";
  }
      return true;
    }

  function validatePassword2() {
      var pass2 = document.getElementById("Password2").value;
      var pass1 = document.getElementById("Password1").value
      if (pass2.length == 0) {
        pass2Error.style.color = "red";
        pass2Error.innerHTML = "Please enter the password";
        return false;
      }
      else if (!pass2.match(/^(?=.*?[0-9])(?=.*?[a-z])(?=(.*?[^0-9A-Za-z]){2}).{8,32}$/)) {
        pass2Error.style.color = "red";
         pass2Error.innerHTML = "Minimum 8 characters (alphanumeric + 2 special characters).";
         return false;
  }
      else if(pass2!=pass1){
        pass2Error.style.color = "red";
      pass2Error.innerHTML = "Both password should match";
      return false;
  }
      pass2Error.innerHTML = "valid";
      if ((pass2Error.innerHTML == "valid")) {
    pass2Error.style.color = "green";
  } else {
    pass2Error.style.color = "red";
  }
      return true;
    }

    function validateForm() {
      if (!validatePassword1()||!validatePassword2()) {
        submitOTPError.style.display = "block";
        submitOTPError.innerHTML = "Enter both fields";
        setTimeout(() => {
          submitOTPError.style.display = "none";
        }, 2000);
        return false;
      } 
    }

/* HIDE/SHOW PASSWORD IN FORMS*/
let eyeIcon = document.getElementById("eye");
let pass = document.getElementById("Password1");

eyeIcon.onclick = function () {
  if (pass.type == "password") {
    pass.type = "text";
    eyeIcon.src = "../admin/assets/imgs/theme/eye-open.png";
  } else {
    pass.type = "password";
    eyeIcon.src = "../admin/assets/imgs/theme/eye-close.png";
  }
};

let eyeIcon1 = document.getElementById("eye1");
let pass1 = document.getElementById("Password2");

eyeIcon1.onclick = function () {
  if (pass1.type == "password") {
    pass1.type = "text";
    eyeIcon1.src = "../admin/assets/imgs/theme/eye-open.png";
  } else {
    pass1.type = "password";
    eyeIcon1.src = "../admin/assets/imgs/theme/eye-close.png";
  }
};


    </script>
  </body>
</html>
