<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="../user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href=".../user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../user/css/style.css" rel="stylesheet" />

    <style>
      .container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .card {
        width: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .card a {
        text-decoration: none;
        color: black;
      }

      .card a h2 {
        color: red;
      }

      .btn-block.btn-sm {
        width: auto;
      }

      @media (max-width: 768px) {
        .card {
          width: calc(50% - 20px);
        }
      }

      @media (max-width: 480px) {
        .card {
          width: calc(100% - 20px);
        }
      }
    </style>
  </head>

  <body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 180px"
      >
        <h1 class="font-weight-semi-bold text-capitalize mb-3">
          Change Password
        </h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="/account">Account</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Security</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Container Cards Start -->
    <div class="w-25" style="margin-left: 40%">
      <p>
        <% if(oldPasswordError){ %>
        <p id="alreadyUser" style="color: red;"><%=oldPasswordError%></p> 
        <%} %>
      </p>
      <form action="/account/setNewPassword" method="post">
        <!-- Old password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1"
            >Password<sup style="color: red">*</sup></label
          >
          <input
            type="password"
            value=""
            class="form-control"
            name="oldPassword"
            id="oldPassword"
            placeholder="Enter your current password"
            required
          />
          <span id=""></span>
        </div>

        <!-- New Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1"
            >New Password<sup style="color: red">*</sup></label
          >
          <input
            type="password"
            value=""
            class="form-control"
            name="newPassword1"
            placeholder="Enter the new password"
            id="newPassword1"
            onkeyup="validateNewPassword1()"
          />
          <span id="new-pass1"></span>
        </div>

        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1"
            >Confirm Password<sup style="color: red">*</sup></label
          >

          <input
            type="pass"
            value=""
            class="form-control"
            name="newPassword2"
            placeholder="Confirm your password"
            id="newPassword2"
            onkeyup="validateNewPassword2()"
          />
          <span id="new-pass2"></span>
        </div>

        <!-- Submit button -->
        <br /><span id="submit-error"></span><br />
        <button
          onclick="return validateForm()"
          type="submit"
          class="btn btn-primary btn-block btn-sm mb-4"
        >
          Save changes
        </button>
        <!-- <span id="submit-error"></span> -->
        <!-- Register buttons -->
        <!-- <div class="text-center">
          <p><a href="/account">Back</a></p>
        </div> -->
      </form>

      <!-- <a href="#" class="btn btn-primary back-to-top">
        <i class="fa fa-angle-double-up"></i>
      </a> -->
    </div>
    <!-- Container Cards End -->
    <!-- <div class="container">
      <div class="card">
        <a href="#">
          <img src="../user/img/purchase.png" alt="Card Image" />
          <h2>Orders</h2>
          <p>All about your orders</p>
        </a>
      </div>
    </div> -->

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
          &copy;
          <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
          All Rights Reserved. Designed by
          <a
            class="text-dark font-weight-semi-bold"
            href="https://htmlcodex.com"
            >HTML Codex</a
          >
          <br />
          Distributed By
          <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../user/lib/easing/easing.min.js"></script>
    <script src="../user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../user/mail/jqBootstrapValidation.min.js"></script>
    <script src="../user/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../user/js/main.js"></script>
    <script>
      var pass1Error = document.getElementById("new-pass1");
      var pass2Error = document.getElementById("new-pass2");
      var submitError = document.getElementById("submit-error");

      function validateNewPassword1() {
        var pass1 = document.getElementById("newPassword1").value;
        var oldPassword = document.getElementById("oldPassword").value;
        if(pass1===oldPassword){
          pass1Error.innerHTML = "Old password & New password cannot be same";
          return false;
        }
        if (pass1.length === 0) {
          pass1Error.style.color = "red";
          pass1Error.innerHTML = "Please enter the password";
          return false;
        } else if (
          !pass1.match(
            /^(?=.*?[0-9])(?=.*?[a-z])(?=(.*?[^0-9A-Za-z]){2}).{8,32}$/
          )
        ) {
          pass1Error.style.color = "red";
          pass1Error.innerHTML =
            "Minimum 8 characters (alphanumeric + 2 special characters).";
          return false;
        }
        pass1Error.innerHTML = "valid";

        if (pass1Error.innerHTML == "valid") {
          pass1Error.style.color = "green";
        } else {
          pass1Error.style.color = "red";
        }
        return true;
      }

      function validateNewPassword2() {
        var pass2 = document.getElementById("newPassword2").value;
        var pass1 = document.getElementById("newPassword1").value;
        if (pass2.length == 0) {
          pass2Error.style.color = "red";
          pass2Error.innerHTML = "Please enter the password";
          return false;
        } else if (
          !pass2.match(
            /^(?=.*?[0-9])(?=.*?[a-z])(?=(.*?[^0-9A-Za-z]){2}).{8,32}$/
          )
        ) {
          pass2Error.style.color = "red";
          pass2Error.innerHTML =
            "Minimum 8 characters (alphanumeric + 2 special characters).";
          return false;
        } else if (pass2 != pass1) {
          pass2Error.style.color = "red";
          pass2Error.innerHTML = "New password & confirm password should match";
          return false;
        }
        pass2Error.innerHTML = "valid";
        if (pass2Error.innerHTML == "valid") {
          pass2Error.style.color = "green";
        } else {
          pass2Error.style.color = "red";
        }
        return true;
      }

      setTimeout(()=>{
        let a=document.getElementById("alreadyUser");
        a.style.display='none';
      },2000)
    </script>
  </body>
</html>
