<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>getantiques</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="../user/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href=".../user/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../user/css/style.css" rel="stylesheet" />

    <style>
      .container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .card {
        width: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .card a {
        text-decoration: none;
        color: black;
      }

      .card a h2 {
        color: red;
      }

      @media (max-width: 768px) {
        .card {
          width: calc(50% - 20px);
        }
      }

      @media (max-width: 480px) {
        .card {
          width: calc(100% - 20px);
        }
      }
    </style>
  </head>

  <body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 180px"
      >
        <h1 class="font-weight-semi-bold text-capitalize mb-3">My account</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="/">Home</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Account</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- User Details Start-->
    <div class="container-fluid">
      <div class="text-center m-lg-2">
        <button
          style="margin-right: 10%"
          type="button"
          class="btn btn-outline-primary"
          onclick="location.href='/home'"
        >
          Continue Shopping
        </button>
        <button
          style="margin-left: 60%"
          type="button"
          class="btn btn-outline-primary"
          onclick="location.href='/logout'"
        >
          Logout
        </button>
        <div class="text-center mb-4">
          <h5>
            Hey
            <span style="color: chocolate"><%=user.username %></span>, You are
            connected with us by
            <span style="color: chocolate"><%=user.email %></span>
            &
            <span style="color: chocolate"><%=user.mobile %></span>
          </h5>
        </div>
      </div>
    </div>
    <!-- User Details End-->
    <div class="container-md" style="text-align: center">
      <!-- <p
        id="showUpdate"
        style="
          font-family: 'Times New Roman', Times, serif;
          font: 1.2em sans-serif;
          color: red;
        "
      >
        You have successfully updated your profile.
      </p> -->
    </div>
    <!-- Container1 Cards Start -->
    <div class="container">
      <div class="card">
        <a href="/account/profile">
          <img src="../user/img/user.png" alt="Profile" />
          <h2>Profile</h2>
          <p>View/update your profile</p>
        </a>
      </div>
      <div class="card">
        <a href="/account/address">
          <img src="../user/img/home.png" alt="Address" />
          <h2>Address</h2>
          <p>Add/view your addresses</p>
        </a>
      </div>
      <div class="card">
        <a href="/account/security">
          <img src="../user/img/password.png" alt="Card Image" />
          <h2>Password</h2>
          <p>Update your password</p>
        </a>
      </div>
    </div>
    <!-- Container1 Cards End -->

    <!-- Container2 Cards Start -->
    <div class="container">
      <div class="card">
        <a href="/account/order">
          <img src="../user/img/purchase.png" alt="Card Image" />
          <h2>Orders</h2>
          <p>All about your orders</p>
        </a>
      </div>
      <div class="card">
        <a href="/account/wallet">
          <img src="../user/img/wallet.png" alt="Card Image" />
          <h2>Wallet</h2>
          <p>Know about your wallet status</p>
        </a>
      </div>

      <!-- Container2 Cards Start -->

      <!--<div class="card">
        <a href="#">
          <img src="path/to/image.jpg" alt="Card Image" />
          <h2>Card Title 3</h2>
          <p>Card Description 3</p>
        </a>
      </div> -->
    </div>
    <!-- <div class="text-center mb-4 mt-5">
      <h5>
        Hey, your wallet balance is:
        <span style="color: chocolate">₹ <%#=user.wallet %></span>
      </h5>
    </div> -->
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
      <div class="col-md-6 px-xl-0">
        <p class="mb-md-0 text-center text-md-left text-dark">
          &copy;
          <a class="text-dark font-weight-semi-bold" href="#">getantiques</a>.
          All Rights Reserved. Designed by
          <a
            class="text-dark font-weight-semi-bold"
            href="https://htmlcodex.com"
            >HTML Codex</a
          >
          <br />
          Distributed By
          <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
        </p>
      </div>
      <div class="col-md-6 px-xl-0 text-center text-md-right">
        <img class="img-fluid" src="img/payments.png" alt="" />
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <!-- <script>
      setTimeout(() => {
        var showAlert = document.getElementById("showUpdate");
        showAlert.style.display = "none";
      }, 2500);
    </script> -->
  </body>
</html>
