#eyeIcon{
    width: 5%;
    height: 4%;
    cursor: pointer;
    align-items: end;
    position:absolute;
    right: 9%;
}


.eye{
    display: flex;
    align-items: center;

}

/* .description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    height: auto;
    display: inline-block;
    border: 2px solid #000; 
    
} */

.description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    display: inline-block;
}